<section class="results-section">
    <h1>Top 6 Hospitals for Cardiologists in Delhi</h1>
    <div class="cards-container">
        <div class="hospital-card">
            <h2>Max Healthcare Saket</h2>
            <p>Contact: +91 11 2651 5050</p>
            <p>Address: 1, 2 Press Enclave Road, Mandir Marg, Saket Institutional Area, Saket, New Delhi, Delhi 110017</p>
            <p>Website: <a href="https://www.maxhealthcare.in/hospital-network/max-hospital-saket">https://www.maxhealthcare.in/hospital-network/max-hospital-saket/</a></p>
            <p>Specialist Cardiologist: Dr. Viveka Kumar (among others. Check their website for a full list)</p>
        </div>
        <div class="hospital-card">
            <h2>Indraprastha Apollo Hospital</h2>
            <p>Contact: +91 11 2692 5858</p>
            <p>Address: Delhi - Mathura Rd, Apollo Hospitals, Sector B, Pocket H, Sarita Vihar, New Delhi, Delhi 110076</p>
            <p>Website: <a href="https://www.apollohospitals.com/locations/india/delhi/indraprastha-apollo-hospital">https://www.apollohospitals.com/locations/india/delhi/indraprastha-apollo-hospital/</a></p>
            <p>Specialist Cardiologist: Dr. Mukesh Goel (among others. Check their website for a full list)</p>
        </div>
        <div class="hospital-card">
            <h2>Fortis Escorts Heart Institute</h2>
            <p>Contact: +91 11 2682 5000</p>
            <p>Address: Okhla Rd, Sukhdev Vihar, New Delhi, Delhi 110025</p>
            <p>Website: <a href="https://www.fortishealthcare.com/india/fortis-escorts-heart-institute-okhla-road-new-delhi">https://www.fortishealthcare.com/india/fortis-escorts-heart-institute-okhla-road-new-delhi/</a></p>
            <p>Specialist Cardiologist: Dr. Ashok Seth (among others. Check their website for a full list)</p>
        </div>
        <div class="hospital-card">
            <h2>BLK-Max Super Speciality Hospital</h2>
            <p>Contact: +91 11 3040 3040</p>
            <p>Address: Pusa Rd, Radha Soami Satsang, Rajendra Place, New Delhi, Delhi 110005</p>
            <p>Website: <a href="https://www.blkhospital.com/">https://www.blkhospital.com/</a></p>
            <p>Specialist Cardiologist: Dr. Subhash Chandra (among others. Check their website for a full list)</p>
        </div>
        <div class="hospital-card">
            <h2>Sir Ganga Ram Hospital</h2>
            <p>Contact: +91 11 4225 7000</p>
            <p>Address: Rajinder Nagar, New Delhi, Delhi 110060</p>
            <p>Website: <a href="https://www.sgrh.com/">https://www.sgrh.com/</a></p>
            <p>Specialist Cardiologist: Dr. J.P.S. Sawhney (among others. Check their website for a full list)</p>
        </div>
        <div class="hospital-card">
            <h2>Medanta - The Medicity (Gurgaon, near Delhi) ‣</h2>
            <p>Contact: +91 124 414 1414</p>
            <p>Address: Sector - 38, Gurgaon, Haryana 122001 (While located in Gurgaon, it is often considered part of the Delhi NCR healthcare landscape)</p>
            <p>Website: <a href="https://www.medanta.org/">https://www.medanta.org/</a></p>
            <p>Specialist Cardiologist: Dr. Rajneesh Malhotra (among others. Check their website for a full list)</p>
        </div>
    </div>
</section>
